
<div class="row m-5 ">
 {% for post in posts %}
 
<div class="card m-3" style="width: 18rem;">

  {# <img class="card-img-top" src="{{ asset('uploads/images/' ~ post.image) }}" alt="Card image cap"> #}
  
  <img class="card-img-top" src="{{ post.image }}" alt="Card image cap">
  <div class="card-body">
    <h1 class="card-title">{{post.title}}</h1>
  <a href="{{ path('post_slug', { slug: post.slug}) }} "><h2>{{post.slug}}</h2></a>
   <p> crée le  {{post.createdAt|date("m/d/Y")  }}</p>
     {% for category in post.category %}
    <p class="card-text text-primary">{{category.name}}</p>
    {% endfor %}
    {# <p class="card-text">{{post.categories.getname()}}</p> #}
    <p class="card-text">{{post.content|striptags|replace({'&nbsp;': ''})|slice(0,80) }} [...]</p>
    <a href="{{ path('post_show', { id: post.id}) }} ">Lire la suite</a>

    {% if app.user is same as post.user or is_granted("ROLE_ADMIN")%}
    <a href="{{ path('post_edit', { id: post.id}) }} "><button>Edit post</button></a>
    <a href="{{ path('post_remove', { id: post.id}) }} "><button>Remove post</button></a>
    {% endif %}
   
</div>
    
 
</div>

 {% endfor %}
  
  </div>
  